<!-- Start Main content -->
<main class="main-content bg-white">
	<div class="container mb-30 pt-50">
		<div class="sidebar-widget post-module-1">
			<div class="row mb-30">
				{% for post in posts|slice(0, 2) %}
					<article class="col-md-6 mb-50">
						<figure class="mb-20 position-relative">
							<a href="{{ path('app_blog_show', { slug: post.slug }) }}">
								<img src="{{ asset('uploads/posts/' ~ post.image) }}" alt="{{ post.title }}" class="img-fluid w-100" style="height: 380px; object-fit: cover;">
							</a>
							<div class="post-meta font-primary text-uppercase rotate-90 top-left">
								<span>{{ post.createdAt|format_datetime(locale='ru', pattern='d MMMM, yyyy') }}</span>
							</div>
						</figure>

						<div class="post-meta mb-10 font-primary text-uppercase">
							<span>
								<a href="{{ path('app_category_show', { slug: post.category.slug }) }}">
									{{ post.category.name }}
								</a>
							</span>
						</div>

						<h3 class="post-title">
							<a href="{{ path('app_blog_show', { slug: post.slug }) }}">
								{{ post.title }}
							</a>
						</h3>
					</article>
				{% endfor %}

				{% for post in posts|slice(2, 3) %}
					<article class="col-lg-4 col-md-6 mb-50">
						<figure class="mb-20 position-relative">
							<a href="{{ path('app_blog_show', { slug: post.slug }) }}">
								<img src="{{ asset('uploads/posts/' ~ post.image) }}" alt="{{ post.title }}" class="img-fluid w-100" style="height: 260px; object-fit: cover;">
							</a>
							<div class="post-meta font-primary text-uppercase rotate-90 top-left">
								<span>{{ post.createdAt|format_datetime(locale='ru', pattern='d MMMM, yyyy') }}</span>
							</div>
						</figure>

						<div class="post-meta mb-15 font-primary text-uppercase">
							<span class="category">
								<a href="{{ path('app_category_show', { slug: post.category.slug }) }}">
									{{ post.category.name }}
								</a>
							</span>
						</div>

						<h4 class="post-title">
							<a href="{{ path('app_blog_show', { slug: post.slug }) }}">
								{{ post.title }}
							</a>
						</h4>
					</article>
				{% endfor %}

				{% for post in posts|slice(5, 8) %}
					<article class="col-lg-3 col-md-6 mb-50">
						<figure class="mb-20">
							<a href="{{ path('app_blog_show', { slug: post.slug }) }}">
								<img src="{{ asset('uploads/posts/' ~ post.image) }}" alt="{{ post.title }}" class="img-fluid w-100" style="height: 180px; object-fit: cover;">
							</a>
						</figure>

						<div class="post-meta mb-10 font-primary text-uppercase">
							<span>
								<a href="{{ path('app_category_show', { slug: post.category.slug }) }}">
									{{ post.category.name }}
								</a>
							</span>
						</div>

						<h5 class="post-title">
							<a href="{{ path('app_blog_show', { slug: post.slug }) }}">
								{{ post.title }}
							</a>
						</h5>
					</article>
				{% endfor %}

				{% for post in posts|slice(13, 6) %}
					<li class="alith-col alith-col-6">
						<a href="{{ path('app_blog_show', { slug: post.slug }) }}">
							<img src="{{ asset('uploads/posts/' ~ post.image) }}" alt="{{ post.title }}" class="img-fluid w-100" style="height: 150px; object-fit: cover;">
						</a>
					</li>
				{% endfor %}

			</div>
		</div>
	</div>
</main>
<!-- End Main content -->
