<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>
			{% block title %}
				{% block meta_title %}Тестовый временный заголовок
				{% endblock %}
			{% endblock %}
		</title>
		<meta name="description" content="{% block meta_description %}{% endblock %}">
		<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
		<link rel="canonical" href="{% block canonical_url %}{{ app.request.uri }}{% endblock %}">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/imgs/theme/athena-favicon.svg') }}">

		{% block stylesheets %}
			{{ vite_entry_link_tags('app') }}
		{% endblock %}

		{% block page_styles %}{% endblock %}
	</head>

	<body>
		{% block preloader %}
			<div class="scroll-progress bg-dark"></div>
		{% endblock %}

		{% block offcanvas %}
			{% include 'partials/offcanvas.html.twig' %}
		{% endblock %}

		{% block header %}
			{% include 'partials/header.html.twig' %}
		{% endblock %}

		{% block search %}
			{% include 'partials/search.html.twig' %}
		{% endblock %}


		{% block body %}{% endblock %}


		{% block footer %}
			{% include 'partials/footer.html.twig' %}
		{% endblock %}

		{% block javascripts %}
			{{ vite_entry_script_tags('app') }}
		{% endblock %}

		{% block page_scripts %}{% endblock %}

		<div id="flash-messages" data-success='{{ app.flashes("success")|json_encode|e("html_attr") }}' data-error='{{ app.flashes("error")|json_encode|e("html_attr") }}' data-warning='{{ app.flashes("warning")|json_encode|e("html_attr") }}' data-info='{{ app.flashes("info")|json_encode|e("html_attr") }}'></div>
	</body>
</html>
