<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>
        {% block title %}
            {% block meta_title %}HomeAtelie.club{% endblock %}
        {% endblock %}
    </title>

    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <link rel="canonical" href="{% block canonical_url %}{{ app.request.uri }}{% endblock %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/imgs/theme/athena-favicon.svg') }}">

    {# --- Critical CSS (чтобы не было мигания контента) --- #}
    <style>
        /* Prevent content flash before Vite CSS loads */
        body.page-loading {
            overflow: hidden;
        }

        body.page-loading #site-content {
            opacity: 0;
            visibility: hidden;
        }

        .preloader {
            position: fixed;
            inset: 0;
            z-index: 9999999;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500;600;700&family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">

    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
    {% endblock %}
</head>

    <body class="page-loading">

        {# --- Прелоадер --- #}
        {% block preloader %}
            <div class="preloader text-center">
                <div class="gooey">
                    <span class="dot"></span>
                    <div class="dots">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        {% endblock %}

        {# --- Основной контент --- #}
        <div id="site-content">
            <div class="scroll-progress bg-dark"></div>

            {% block offcanvas %}
                {% include 'partials/offcanvas.html.twig' %}
            {% endblock %}

            {% block header %}
                {% include 'partials/header.html.twig' %}
            {% endblock %}

            {% block search %}
                {% include 'partials/search.html.twig' %}
            {% endblock %}

            {% block body %}{% endblock %}

            {% block footer %}
                {% include 'partials/footer.html.twig' %}
            {% endblock %}

            <div
                id="flash-messages"
                data-success='{{ app.flashes("success")|json_encode|e("html_attr") }}'
                data-error='{{ app.flashes("error")|json_encode|e("html_attr") }}'
                data-warning='{{ app.flashes("warning")|json_encode|e("html_attr") }}'
                data-info='{{ app.flashes("info")|json_encode|e("html_attr") }}'></div>

        </div>

        {% block javascripts %}
            {{ vite_entry_script_tags('app') }}
        {% endblock %}

        {% block page_scripts %}{% endblock %}

    </body>
</html>
